body {
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #6EC2E0),
		color-stop(1, #2991BA)
	);
	background-image: -o-linear-gradient(bottom, #6EC2E0 0%, #2991BA 100%);
	background-image: -moz-linear-gradient(bottom, #6EC2E0 0%, #2991BA 100%);
	background-image: -webkit-linear-gradient(bottom, #6EC2E0 0%, #2991BA 100%);
	background-image: -ms-linear-gradient(bottom, #6EC2E0 0%, #2991BA 100%);
	background-image: linear-gradient(to bottom, #6EC2E0 0%, #2991BA 100%);
}

h3.title {
	font-weight: bold;
	padding: 0 0 15px 0;
	margin: 0;
}

textarea {
	width: 100%;
	padding: 10px;
	resize: none;
}

header nav {
	padding: 0 !important;
	margin: 0 !important;
}

body, html {
    min-height: 100%;
    margin: 0px auto;
    padding: 0px auto;
}

.donecreation {
	color: #66CD00;
}

.failure {
	color: red;
}


.floating-box {
	background-color: rgba(255,255,255,0.5);
    box-shadow: 0px 0px 5px #888888;
    padding: 10px;
}

.round-corners {
	border-radius: 4px;
}

div.login {
	margin: 0 auto;
	width: 350px;
	padding: 20px;
	text-align: center;
}

div.login table {
	width: 100%;
}

li.login-status {
	width: 200px;
	padding: 15px 0 15px 0;
	float: right;
}

.inner-wrapper {
	padding: 0 10px 0 10px;
	width: 900px;
	margin: auto;
    min-height: 100%;
    position: relative;
}

div.content {
    padding: 10px 10px 45px 10px;
}

div.login-content {
	padding: 50px 10px 45px 10px;
}

header img {
	display:inline-block;
}

.dark-border {
	border: 1px solid rgba(0, 0, 0, 0.35);
}

footer {
    background-color: white;
    text-align: center;
    border-radius: 4px;
    width: 880px;
    position: absolute;
    bottom: 5;
    height: 30px;
    display: table;
}

footer div {
	display: table-cell;
	vertical-align: middle;
}

.togglebutton {
    background-color:green;
	text-align:center;
}

#home:hover, #location:hover, #resource:hover, #booking:hover {
    cursor: hand;
    cursor: pointer;
}

.nav input {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: rgb(66, 184, 221); /* this is a light blue */
}

.nav input:hover {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: rgb(226, 184, 221); /* this is a light blue */
}
        
.welcome-image-container {
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,1)), color-stop(75%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}